
#stopwatchtext {
    color:cadetblue;
}
.stopwatch {
        text-align: center;
        font-size: 40px;
        margin-top: 225px;
        
}

.timerdisplay {
    font-size: 70px;
    font-weight: bolder;
    margin: 15px;
}

button {
    padding: 5px 7px 5px 7px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #9cb7d3;
    color: #000;
    margin: 5px;
}

button:hover {
    background-color: #136cca;
}
button:disabled {
    background-color: #7f8285;
    cursor: not-allowed;
}

#stop-btn {
    padding: 5px 9px 5px 9px;
}

body {
    background-color:#faebd7;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    color:#136cca
}

#lap-list {
    background-color:#dbb789;
    border-radius: 5px;
    position: fixed;
        top: 0;
        right: 0;
    margin-right: 125px;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    max-height: 255px;
    font-size: 36px;
    list-style-type:circle;
  }
#lap-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }